asgiref
attrs
Django
django-restframework
djangorestframework
drf-spectacular
inflection
jsonschema
jsonschema-specifications
pytz==2023.3.post1
PyYAML
referencing
sqlparse
typing_extensions
tzdata
uritemplate
